I am a contract embedded hardware and firmware engineer. Previously I did research on ubiquitous computing and haptic interaction while at Arizona State University's CUbiC Lab before helping found HeatSync Labs, a 501c3 nonprofit community workshop in order to facilitate my work and hopefully yours too. 

<p>Currently</p>
<ul>
  <li><a href="https://rust.azdevs.org">desert rust</a></li>
  <li><a href="https://memory.io">memory.io</a></li>
</ul>
<p>Previously</p>
<ul>
  <li><a href="https://hackphx.com">hackphx</a></li>
  <li><a href="https://heatsynclabs.org">heatsynclabs</a></li>
  <li><a href="http://augmentous.com">augmentous</a></li>
</ul>